flows.json
[
    {
        "id": "f280fac3056593d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9918e97a58c1f5a6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "a549681df5036440",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "fd6511ba75c4a58a",
        "type": "ui-page",
        "name": "Multi-Plant System",
        "ui": "9918e97a58c1f5a6",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "a549681df5036440",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dd96fc3af52cf0b8",
        "type": "ui-group",
        "name": "Sensors",
        "page": "fd6511ba75c4a58a",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1cb89addef8c39f8",
        "type": "ui-group",
        "name": "Controls",
        "page": "fd6511ba75c4a58a",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a357fd193be648e4",
        "type": "inject",
        "z": "f280fac3056593d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "791e3d741a7b5c34",
        "type": "function",
        "z": "f280fac3056593d7",
        "name": "ideal conditions getter",
        "func": "const db = msg.payload;\nconst plant = db.plants.find(p => p.id === \"lemon_tree\");\nmsg.payload = plant.ideal_conditions;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "628b65281e0d4b9f"
            ]
        ]
    },
    {
        "id": "3edbacd2cdc817f6",
        "type": "ui-button",
        "z": "f280fac3056593d7",
        "group": "1cb89addef8c39f8",
        "name": "",
        "label": "button",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "142f4c4bec016872",
        "type": "json",
        "z": "f280fac3056593d7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "791e3d741a7b5c34"
            ]
        ]
    },
    {
        "id": "628b65281e0d4b9f",
        "type": "template",
        "z": "f280fac3056593d7",
        "name": "paragraph template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<p> {{payload}} </p>\n",
        "output": "str",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "a4526d399d0c8292"
            ]
        ]
    },
    {
        "id": "a4526d399d0c8292",
        "type": "ui-text",
        "z": "f280fac3056593d7",
        "group": "1cb89addef8c39f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "737fffad365f0626",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]